{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="w3-display-container" style="height: 700px;">

        <div class="w3-display-middle">
            <h2>Do you want to delete your profile?</h2>
            <form method="post" action="{% url 'profile delete' pk=request.user.pk %}">
                {{ form.as_p }}
                <button class="w3-btn w3-white">Delete</button>
                {% csrf_token %}
            </form>
            <a href="{% url 'index' %}" class="w3-btn w3-white">Cancel</a>
        </div>
    </div>

{% endblock %}