{% extends 'base/base.html' %}
{% load static %}

{% block content %}

		<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 slider-parallax-visible" style="transform: translate3d(0px, 0px, 0px);">
			<div class="swiper-container swiper-parent swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
				<div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);" id="swiper-wrapper-79510caf435711c5e" aria-live="off">
					<div class="swiper-slide dark swiper-slide-active" style="width: 212px;" role="group" aria-label="1 / 3">
						<div class="container">
							<div class="slider-caption slider-caption-center" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
								<h2 data-animate="fadeInUp" class="fadeInUp animated">Welcome to CarShare</h2>
								<p class="d-none d-sm-block fadeInUp animated" data-animate="fadeInUp" data-delay="200">The alternative of public transport!</p>
							</div>
						</div>
						<div class="swiper-slide-bg" style="background-image: url({% static 'images/magazine/13.jpg' %});"></div>
					</div>
					<div class="swiper-slide dark swiper-slide-active" style="width: 212px;" role="group" aria-label="1 / 3">
						<div class="container">
							<div class="slider-caption slider-caption-center" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
								<h2 data-animate="fadeInUp" class="fadeInUp animated">Choose who you want to travel with</h2>
{#								<p class="d-none d-sm-block fadeInUp animated" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on your own Canvas.</p>#}
							</div>
						</div>
						<div class="swiper-slide-bg" style="background-image: url({% static 'images/magazine/1.jpg' %});"></div>
					</div>
					<div class="swiper-slide dark swiper-slide-active" style="width: 212px;" role="group" aria-label="1 / 3">
						<div class="container">
							<div class="slider-caption slider-caption-center" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
								<h2 data-animate="fadeInUp" class="fadeInUp animated">Reach your destination safely</h2>
{#								<p class="d-none d-sm-block fadeInUp animated" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on your own Canvas.</p>#}
							</div>
						</div>
						<div class="swiper-slide-bg" style="background-image: url({% static 'images/slider/swiper/9.jpg' %});"></div>
					</div>
				</div>
				<div class="slider-arrow-left swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-79510caf435711c5e" aria-disabled="true" style="opacity: 1;"><i class="icon-angle-left"></i></div>
				<div class="slider-arrow-right" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-79510caf435711c5e" aria-disabled="false" style="opacity: 1;"><i class="icon-angle-right"></i></div>
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

			<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
		</section>

		<!-- Page Title
		============================================= -->
		<div id="page-title-wrapper" class="sticky-top" style="top: 60px;">
			<section id="page-title">

				<div class="container clearfix">
					<h1>CarShare</h1>
					<span>Please login or register to use CarShare</span>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'sign in' %}">Login</a></li>
						<li class="breadcrumb-item"><a href="{% url 'sign up' %}">Register</a></li>
					</ol>
				</div>

			</section>

		<!-- Content
		============================================= -->
		<section id="content" data-scrollto-settings="{&quot;offset&quot;:100,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">
			<div class="content-wrap">
				<div class="container clearfix">



				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->

        </div>
{% endblock %}